<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href= "style.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.11/dist/vue.js"></script>
  <title>タスク表示アプリ</title>
</head>
<body>
  <h1>リロードすると入力したタスクが消えるアプリ(Vueの練習)</h1>
  <hr>
  <div id="app">
    <input id="input_property" type="text" v-model="newTask" placeholder="ここにタスクを入力してください。" >
    <button @click="addTask">追加する</button>
    <button @click="deleteTask">作成したタスクを削除する</button>
    <h3>追加したいタスク: {{newTask}}</h3>
      <ul>
          <div v-for="task in todo">
            <li>
              <p><span class="font-property">タスク名:</span>{{task.todo_name}}  |  <span class="font-property">完了したかどうか:</span>{{task.isCompleted}}</p>
            </li>
          </div>
      </ul>
    </div>
  <script src="./main.js"></script>
</body>
</html>