<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href= "style.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.11/dist/vue.js"></script>
  <title>タスク表示アプリ</title>
</head>
<body>
  <h1>リロードすると入力したタスクが消えるアプリ</h1>
  <hr>
  <div id="app">
    <input style="width:250px; height:100%;" type="text" v-model="newTask" placeholder="ここにタスクを入力してください。" >
    <button @click="addTask">追加する</button>
      <ul>
          <div v-for="task in todo">
            <li>
              <p>タスク名:{{task.todo_name}}  完了したかどうか:{{task.isCompleted}}</p>
            </li>
          </div>
      </ul>
    </div>
  </div>
  <script src="./main.js"></script>
</body>
</html>